@font-face {
    font-family: conthrax;
    src: url('./images/conthrax-sb.otf');
}

* {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
::-webkit-scrollbar {
    display: none;
}

section, div {
    overflow: hidden;
}

body{
    padding:0;
    margin:0;
    width:100%;
    overflow-x: hidden;
    position: relative;
    background: #0a0a0c;
    color: rgb(228, 228, 228);
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link:hover {
    color: #0182fa;
    transform: scale(1.1);
}
.link-btn:hover {
    transform: scale(1.1);
}
.gif {
    z-index: 9
}
.nunito {
    font-family: 'Nunito', sans-serif;
}
.monts {
    font-family: 'Montserrat', sans-serif;
}
.cont {
    font-family: conthrax;
}
.blue-grad {
    background-color: #01f6fa;
    background-image: linear-gradient(63deg, #0182fa, #01f6fa);
    color: black;
}
.border-grad {
    border: 1px solid #01f6fa;
    border-color: linear-gradient(63deg, #016dfa, #01f6fa);
}
.hero {
    background-image: radial-gradient(circle closest-corner at 12% 50%, #01f6fa1e 61%, #0c0c0c);
    position: relative;
    min-height: 60vh;
}
.hero-bg {
    position: absolute;
    top: -25%;
    right: -8%;
    z-index: 1;
}
.nav {
    z-index: 10 !important;
}
.turner {
    position: relative;
    -ms-align-items: 'center';
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #01f6fa00;
}
.turner::before{
    content: "";
    background: linear-gradient(63deg, #0182fa, #01f6fa);
    width: 25%;
    height: 1000%;
    position: absolute;
    animation: rotate 5s linear infinite;
}
.turner::after {
    content: '';
    position: absolute;
    border-radius: 10px;
    background: linear-gradient(63deg, #0182fa, #01f6fa);
    inset: 2.5px;
}
.border-grad::after {
    background: #0a0a0c;
}
.turner-vertical::before {
    width: 30% !important;
    height: 10% !important;
}

.turn-child {
    z-index: 2;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

.mobileNav {
    display: none;
}

.blue-text {
    background-image: linear-gradient(63deg, #0182fa, #01f6fa);
    -webkit-background-clip: text; /* For Safari and older versions of Chrome */
    -moz-background-clip: text; /* For Firefox */
    background-clip: text;
    color: transparent;
}


/* MEDIA QUERIES */
@media (max-width: 639px) {
    
    section,
    nav,
    div,
    footer {
        overflow: hidden !important;
    }
    .roadCont {
        grid-auto-columns: 60%;
    }
    .mobileNav {
        display: block;
        position: fixed;
        bottom: 0;
        background-color: #0f1724;
        z-index: 99;
        width: 100vw;
        padding: 0;
        margin: 0;
    }
    .mobileNav div {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        max-width: 800px;
        margin: auto;
        background-color: transparent;
    }
    .mobileNav div a {
        background-color: transparent;
        font-size: .6em;
    }
    .hero-bg {
        top: -45%;
        right: -40%;
        z-index: 1;
    }
}